aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
blinker
cachecontrol
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
exceptiongroup
faiss
firebase-admin
flask
Flask-Cors
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
importlib-metadata
itsdangerous
Jinja2
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langsmith
MarkupSafe
marshmallow
msgpack
multidict
mypy-extensions
numpy
openai
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
PyJWT
pyparsing
pypdf2
python-dotenv
PyYAML
regex
requests
rsa
sniffio
SQLAlchemy
tenacity
tiktoken
tqdm
typing-extensions
typing-inspect
uritemplate
urllib3
werkzeug
yarl
zipp
